#include <windows.h>

#define IDB_TBNEWTASK    218
#define IDB_TBSAVEPLAN   221
#define IDB_TBMAKEREPORT 222
#define IDB_TBTASKSYNCH  223
#define IDB_TBTRASHCAN   224
#define IDB_TBPRINT      235
#define IDB_XHATCHBR     131
#define IDB_PRIORITY1    227
#define IDB_PRIORITY2    229
#define IDB_PRIORITY3    228
#define IDB_PRIORITY4    230
#define IDB_PRIORITY5    231
#define IDB_GREY_X       245
#define IDB_SPEC_TOP_RIGHT 115
#define IDB_SPEC_BOTTOM_LEFT 116
#define IDB_SPEC_BOTTOM_RIGHT 117
#define IDB_SPEC_LEFT 118
#define IDB_SPEC_RIGHT 119
#define IDB_SPEC_TOP 120
#define IDB_SPEC_TOP_LEFT 121
#define IDB_SPEC_BOTTOM 122
#define IDB_ACTUAL_TOP_RIGHT 123
#define IDB_ACTUAL_BOTTOM_LEFT 124
#define IDB_ACTUAL_BOTTOM_RIGHT 125
#define IDB_ACTUAL_LEFT 126
#define IDB_ACTUAL_RIGHT 127
#define IDB_ACTUAL_TOP 128
#define IDB_ACTUAL_TOP_LEFT 129
#define IDB_ACTUAL_BOTTOM 130

IDB_TBNEWTASK    BITMAP "resources/new_task.bmp"
IDB_TBSAVEPLAN   BITMAP "resources/save_plan.bmp"
IDB_TBMAKEREPORT BITMAP "resources/make_report.bmp"
IDB_TBTASKSYNCH  BITMAP "resources/task_synch.bmp"
IDB_TBTRASHCAN   BITMAP "resources/trashcan.bmp"
IDB_TBPRINT      BITMAP "resources/print.bmp"
IDB_XHATCHBR     BITMAP "resources/xhatchbr.bmp"
IDB_PRIORITY1    BITMAP "resources/priority1.bmp"
IDB_PRIORITY2    BITMAP "resources/priority2.bmp"
IDB_PRIORITY3    BITMAP "resources/priority3.bmp"
IDB_PRIORITY4    BITMAP "resources/priority4.bmp"
IDB_PRIORITY5    BITMAP "resources/priority5.bmp"
IDB_GREY_X       BITMAP "resources/grey_x.bmp"
IDB_SPEC_TOP_RIGHT BITMAP "resources/spec_top_right.bmp"
IDB_SPEC_BOTTOM_LEFT BITMAP "resources/spec_bottom_left.bmp"
IDB_SPEC_BOTTOM_RIGHT BITMAP "resources/spec_bottom_right.bmp"
IDB_SPEC_LEFT BITMAP "resources/spec_left.bmp"
IDB_SPEC_RIGHT BITMAP "resources/spec_right.bmp"
IDB_SPEC_TOP BITMAP "resources/spec_top.bmp"
IDB_SPEC_TOP_LEFT BITMAP "resources/spec_top_left.bmp"
IDB_SPEC_BOTTOM BITMAP "resources/spec_bottom.bmp"
IDB_ACTUAL_TOP_RIGHT BITMAP "resources/act_top_right.bmp"
IDB_ACTUAL_BOTTOM_LEFT BITMAP "resources/act_bottom_left.bmp"
IDB_ACTUAL_BOTTOM_RIGHT BITMAP "resources/act_bottom_right.bmp"
IDB_ACTUAL_LEFT BITMAP "resources/act_left.bmp"
IDB_ACTUAL_RIGHT BITMAP "resources/act_right.bmp"
IDB_ACTUAL_TOP BITMAP "resources/act_top.bmp"
IDB_ACTUAL_TOP_LEFT BITMAP "resources/act_top_left.bmp"
IDB_ACTUAL_BOTTOM BITMAP "resources/act_bottom.bmp"
